body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/background.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

.avatar-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.avatar-wrapper {
  background-color: #fff;
  border: 15px solid #0baf94;
  border-radius: 40px;
  display: inline-block;
  padding: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: calc(50% - 205px);
  height: 350px;
}
.avatar {
  height: 280px;
  position: relative;
  width: 260px;
}

.list-wrapper {
  max-width: 700px;
  text-align: center;
}

.list-title {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.list {
  background-color: rgba(255, 166, 0, 0.4);
  border: 5px solid orange;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 100px 0;
  padding: 20px;
}

.image {
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%);
  height: 70px;
  overflow: hidden;
  position: relative;
  width: 70px;
  background-color: transparent;
}
